<%- include('../partials/header') %>
<%- include('../partials/navbar') %>
<%- include('../partials/flash') %>
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="/uploads/<%=currentUser.image%>"><span class="font-weight-bold"><%=currentUser.username%></span><span class="text-black-50"><%=currentUser.email%></span><span> </span></div>
        </div>
        <form action="/profile?_method=PATCH" method="post">
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">username</label><input type="text" class="form-control" id="username" name="username" placeholder="Username" value="<%=currentUser.username%>"></div>
                  </div>
                <div class="row mt-3">
                   
                    <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control" name="email" placeholder="enter email id" value="<%=currentUser.email%>"></div>
                   
                </div>
                

               <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
    </form>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Edit Experience</span><span class="border px-3 p-1 add-experience"><i class="fa fa-plus"></i>&nbsp;Experience</span></div><br>
                <div class="col-md-12"><label class="labels">Experience in Designing</label><input type="text" class="form-control" placeholder="experience" value=""></div> <br>
                <div class="col-md-12"><label class="labels">Additional Details</label><input type="text" class="form-control" placeholder="additional details" value=""></div>
            </div>
        </div>
    </div>
</div>



  <%- include('../partials/footer') %>